---
title: Blog
slug: blog
is_layout: false
listed: true
published: true
cache_strategy: none
response_type: text/html
position: 2
seo_title: Blog - Conroy Whitney - Ruby on Rails Web Developer
meta_description: As I work through difficult problems, learn neat new tricks, or
  generally have a thought that pertains to my profession, I come here to share what
  I know.
---
{% extends 'index' %}

{% block 'main' %}

  <div class="ui vertical segment">
    <div class="ui stackable center aligned page grid">

      {% for blog_post in contents.blog_posts %}
        {% include 'blog_post_row' with blog_post %}
      {% endfor %}

    </div><!-- /grid -->
  </div><!-- /segment -->

{% endblock %}
